$dark-purple-bg-color: #191919;
$light-green-innner-bg-color: linear-gradient(90deg,#11998e,#38ef7d);
$light-green-180-innner-bg-color: linear-gradient(95deg,#11998e,#38ef7d);
$light-green-225-innner-bg-color: linear-gradient(225deg,#11998e,#38ef7d);
$white-smoke-color: #ececec;
$light-gray-card-color: #cacaca;
$favorite-red-color: #ff0800;
